/Figs
/segmentation/CNN
/segmentation/OOF
/centerline extraction/CDCVAM
/centerline extraction/thinning
*.bmp
*.npy
*.jpg
*.pyc
*.nrrd
*.pptx
*.png
*.tif
*.h5
data/
*.docx
*.vol
*.txt
*.mrk.json
*.html
*.mtl
*.vtk
*.obj
*.dll
*.exe
*.cg
*.off
*.ini
PKG-INFO
*.sdp
*.mat
*.ggb
*.sbatch
*.blend
*.blend1
